<div class="main-container">
  <div class="main-title">
    <h1>Gracias por visitarnos.</h1>
    <h3>Estamnos trabajando en conjunto para poder hacer las siguientes secciones</h3>
  </div>

  <div>
    <div class="flex-container options-title" style="height: 35px" >
      <div>
        <img  height="35" src="https://image.flaticon.com/icons/svg/1157/1157079.svg">
        <a href="#"><h3>Test de sintomas</h3></a>
      </div>
      <div class="" style="height: 35px" >
        <img  height="35" src="https://image.flaticon.com/icons/svg/921/921439.svg">
        <a href="#"><h3>Heatmap de Contagios</h3></a>
      </div>
    </div>
  </div>
</div>



